<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "D:\git\dokapon-english\tools\tile-molester\src\main\resources\settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
</settings>
